* {
    box-sizing: border-box;
}
body {
    margin: 3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body main h1 {
    color: orangered;
}
body main section h2 {
    color: darkviolet;
}
body main section p {
    color: silver;
    font-size: larger;
}
footer {
    background-color: #333;
    overflow: hidden;
}
footer a {
    text-decoration:none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}
footer a:hover{
    text-decoration: underline;
    color: orangered;
}





























/* header h1 {
    text-align: center;
    font-size: 40px;
    color: white;
}
header {
    padding: 40px;
    background-color: rgb(17, 124, 143);
}
nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}
main {
    background-color:rgb(208, 206, 197);
    text-align: center;
    background-image: url(Image/glass-transparency-grey-wallpaper-preview.jpg);
    height: fit-content; width: fit-content;
    background-repeat:round;
}
section:nth-child(even) {
    /* background-color:darkslategray; 
    min-height: 75vh;
}*/
